<div class="displayTable bg-light">
  <h1>Naruto SHIPPUDDEN</h1>
  <table>
    <tr>
      <th>image</th>
      <th>name</th>
      <th>caracteristique</th>
    </tr>
    <tr>
      <td><img src="./../assets/naruto.jpg" width="100px" /></td>
      <td>Naruto UZUMAKI</td>
      <td>Kyubi</td>
    </tr>
  </table>

  <p>
    ------------------------------------------------------------------------------------------
  </p>
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Authentication</h3>
      <div class="formGroup">
        <input
          type="text"
          class="formControl"
          placeholder="Username"
          #userName
          required
        />
      </div>

      <div class="formGroup">
        <input
          type="password"
          class="formControl"
          placeholder="Password"
          #userPassword
          required
        />
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input
          type="button"
          class="btn btnDark"
          value="Log in"
          (click)="authService.SignIn(userName.value, userPassword.value)"
        />
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>

      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button
          type="button"
          class="btn btnDark"
          (click)="authService.GoogleAuth()"
        >
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>

      <div class="redirectToLogin">
        <a class="text-info" routerLink="/register-user"> Sign Up </a>
      </div>
    </div>
  </div>
</div>
